<div id="main">
  <div id="search">
    <form method="GET" action="/artist-search">
      <div class="mb-3">
        <input name="artist" placeholder="The Beatles" type="text" class="form-control" id="searchInput">
      </div>
      <button type="submit" class="btn btn-danger">Search for artists</button>
    </form>
  </div>
</div>