#main{
    width: 100%;
    height: 100vh;    
    background-image:url("../images/spotify-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    background-color:#ffffff77;
    width:600px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items:center;

}
#search form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
#search form input{
    width:300px;
}
.card-body{
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white
}
a {
    color:white;
    text-decoration: none
}
a:hover {
    color:white
}

.space {
    margin: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color:black;
    background-color: #cdcdcd;
}

.track-title {
    margin: 10px;
    color:cdcdcd;
    background-color: #505050
}

.track-title h3, audio {
    margin: 20px;
    color:white;
}



